parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$handle of function curl_close expects CurlHandle, CurlHandle\\|false given\\.$#"
			count: 1
			path: lib/Tipi.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_exec expects CurlHandle, CurlHandle\\|false given\\.$#"
			count: 1
			path: lib/Tipi.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_setopt expects CurlHandle, CurlHandle\\|false given\\.$#"
			count: 6
			path: lib/Tipi.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: lib/Tipi.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, string\\|null given\\.$#"
			count: 1
			path: lib/Tipi.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: lib/Tipi/Otp.php

		-
			message: "#^Parameter \\#1 \\$string of function hex2bin expects string, string\\|null given\\.$#"
			count: 1
			path: lib/Tipi/Otp.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, float given\\.$#"
			count: 1
			path: lib/Tipi/Otp.php

		-
			message: "#^Parameter \\#3 \\$key of function hash_hmac expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: lib/Tipi/Otp.php

